
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^verizonmedianocabore\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.verizonmedianocabore\.com\.br$
RewriteRule ^(.*)$ "https\:\/\/verizonmedianocabore\.com\.br\/$1" [R=301,L]

