$small: "(min-width:576px)";
$medium: "(min-width:768px)";
$large: "(min-width:992px)";
$extra-large: "(min-width:1200px)";

$Verizon: 'Verizon NHG TX';

//COLORS
$white: #fff;
$black: #000;
$mineShaft: #666;
$light-white: #FEFEFE;
$silver: #C5C5C5;
// $red: #A21C26;
$cherry: #E50140;
$red: #f00;
$shaft: #808080;
$gray: #999999;